@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: image-url("/night_cars.jpg");
  color: #fff;
}
nav {
  opacity: 0.8;
}
.btn {
  margin-left: 3px;
}
.well {
  background-color: #000;
  border-color: #000;
}
.dealership {
  width: 40%;
  height: auto;
}
.trade_form {
  width: 40%;
}
.condition {
  width: 80%;
}
.mileage {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.authenticate {
  width: 30%;
}
.authenticate input {
  color: #000;
}
.authenticate .btn-success {
  margin-top: 10px;
}
.register {
  width: 30%;
}
.register input {
  color: #000;
}
.register input[type='file'] {
  color: #fff;
}
.register .btn-success {
  margin-top: 10px;
  color: #fff;
}
#garage {
  min-width: 100%;
}
#new {
  width: 33%;
}

.initialize p {
  color: #fff;
  padding-top: 5px;
}
