body {
  background-image: image-url('/back2.jpg');
  background-repeat: no-repeat;
  background-position: 30% center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}


@media only screen and (min-width: 1200px) {
    /* styles for wide screens */

}
